
/*Stuff to hide*/
.resultsContainer--gP9T {
  display: none !important;
}

/*Testing if the script is working*/
.pageHeaderContainer-3LWw- {
  background: green;
}

.card_strava .thumbnail-1td55 {
  width: unset;
}
